.layout{
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: 0.2fr 0.8fr;

    
}

.layout__navigation{
    grid-area: nav;
    background: red;


}


.layout__main{
    grid-area: main;

    padding: 38px 60px;
}