.Gridlayout{
    display: grid;
    grid-template-areas: "nav" "card";
    gap: 30px;
    user-select: none;
    cursor: pointer;
}

.layout__nav{
    grid-area: nav;
    background: #101010;
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
    padding: 30px 0;
    z-index: 10;
}

.layout__nav label{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 0.5px;
    transition: 0.4s ease;
   
    opacity: 0.5;
    font-weight: bold;
}

.layout__nav input{
    display: none;
}

.layout__nav label:hover{
    background: #eaeaea30;
}

.layout__nav input:checked ~ label{
    background: #eaeaea;
    color: #121212;
    opacity: 1;
  
}

.layout__card{
    grid-template-columns: card;
    /* background: green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.Card__Selection{
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
   
    

    background: rgba(18, 18, 18, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 18, 18, 0.3);

    /* translate: 100% 0; */
    
}

.show{
    z-index: 20;
    animation: blur 0.4s ease;
}

@keyframes blur {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.hide{
    
    z-index: -1;
}

.Selection__Content{
    position: inherit;
    top: 9%;
    left: 12%;
    width: 75vw;
   
    background: #fafbfc;
   
    animation: up 0.3s ease ;
    border-radius: 7px;
    overflow: hidden;

    display: grid;
    grid-template-areas: "image info";
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    z-index: 30;

    perspective: 1500px;
    user-select: none;
}

@keyframes up {
    0%{
        translate: 0 50px;
    }
    100%{
        translate: 0 0;
    }
}

.Content__img{
    grid-area: image;
    
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    
    transform-style: preserve-3d;
    transition: 0.4s ease-in-out;
    
  
}
/* 
.Content__img:hover{
     transform: rotateY(180deg);
} */


.Content__info{
    /* background: blue; */
    grid-area: info;
    padding: 20px 20px 15px 30px;
    display: grid;
    grid-template-rows: 0.15fr 0.8fr 0.1fr;
}

.Content__head{
    font-size: 28px;
    font-weight: bold;
    color: #121212;
    position: relative;
}

.Content__head .name{
    font-size: 28px;
    
}

.Content__head .plat{
    font-size: 16px;
    opacity: 0.5;
}

.Content__head .exit{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.Content__body{
  
    color: #101010;
    font-size: 20px ;
    font-weight: bold;
    max-width: 463px;
    /* resize: horizontal; */
}

.body__wrap{
    display: grid;
    margin: 10px 0;
}

.body__wrap__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pinjam{
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
}

.label{
    margin: 5px 0;
}

.Content__foot{
    /* background: slateblue; */
    display: grid;

    justify-content: end;
}

.foot_button{
    padding: 10px 20px;
    border-radius: 5px;
    background: #121212;
    color: #eaeaea;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.body__date{
    background: #3b3b3b;
    color: #eaeaea;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;

    /* margin: 10px 0; */
    transition: 0.1s ease;
}

.body__date:active{
    scale: 0.95;
}

.body__tujuan{
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    
    border-radius: 5px;

    font-size: 16px;
}

.Slide__front, .Slide__Kalender{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* padding: 10px; */
   
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden ;
    overflow: hidden;
    border-radius: 6px;
    transition: 0.6s ease;
}


.Slide__Kalender{
   
    background: #3b3b3b;
    color: #eaeaea;
    padding: 10px;
    transform: rotateY(180deg);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
