.layout{
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: 0.19fr 0.81fr;

    
}

.layout__navigation{
    grid-area: nav;
    background: red;


}


.layout__main{
    grid-area: main;

    padding: 38px 60px;
    position: relative;

    /* background: red; */
    overflow: hidden;

    /* width: 100px; */
}