.label{
    position:relative;
    border: 1px;
    display: grid;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    cursor: text;

   
    background: transparent;
    color: #212121;
    border: 2px solid #212121;
}

.label textarea{
    color: #212121;
}





.label .span{
    position:absolute;
    top:0;
    left:0;
    padding: 15px;
    transform:translate(0);
    font-weight: bold;
    transition-duration:300ms;
    user-select: none;
  
}

.label:focus-within > .span,
input:not(:placeholder-shown) + .span, textarea:not(:placeholder-shown) + .span{
    color:#21212180;
    font-size: 13px;
    transform:translateY(-10px);
    
}

.label:focus-within > input, .label:focus-within > textarea,
.label input:not(:placeholder-shown), .label textarea:not(:placeholder-shown){
    
     transform:translateY(10px);
}